.container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 20% auto;
  grid-template-areas: "sidebar post-list";
  //padding: 0 20px;

  @include breakpoint($xs) {
    @include container(auto);
  }

  @include breakpoint($sm) {
    @include container(540px);
  }

  @include breakpoint($md) {
    @include container(720px);
  }

  @include breakpoint($lg) {
    @include container(960px);
  }

  @include breakpoint($xl) {
    @include container(1170px);
  }
}
.sidebar {
    margin-top: 5em;
}
